In [4]:
print('my name is {}'.format('oneema'))

my name is oneema

In [12]:
print('I love to {2}, {0} and {1}'.format('Cook', 'Dance','Travel'))

I love to Travel, Cook and Dance

In [18]:
res = 15000/53

In [19]:
res

283.0188679245283

In [20]:
print('my tax result is {}'.format(res))

my tax result is 283.0188679245283

In [27]:
tx = 54555/28

In [28]:
tx

1948.392857142857

In [30]:
print('my tax per is {tax:1.4f}'.format(tax=tx))

my tax per is 1948.3929

In [40]:
name='Jose'

In [42]:
print(f'His name is {name}')

His name is Jose

In [44]:
my_list=['one','two','Three']

In [45]:
my_list

['one', 'two', 'Three']

In [46]:
add_list=['Four','Five','Six']

In [47]:
add_list

['Four', 'Five', 'Six']

In [48]:
new_list = my_list + add_list

In [49]:
new_list

['one', 'two', 'Three', 'Four', 'Five', 'Six']

In [54]:
new_list.append('Seven')

In [53]:
new_list

['one', 'two', 'Three', 'Four', 'Five', 'Six', 'Seven']

In [55]:
new_list.pop()

'Seven'

In [56]:
new_list

['one', 'two', 'Three', 'Four', 'Five', 'Six', 'Seven']

In [57]:
new_list[2]='THREE'

In [58]:
new_list

['one', 'two', 'THREE', 'Four', 'Five', 'Six', 'Seven']

In [59]:
new_list.pop()

'Seven'

In [60]:
new_list

['one', 'two', 'THREE', 'Four', 'Five', 'Six']

In [61]:
new_list.pop(2)

'THREE'

In [62]:
new_list

['one', 'two', 'Four', 'Five', 'Six']

In [63]:
al_list=['i','o','a','u','e']
num_list=[9,0,7,3]

In [64]:
al_list.sort()

In [65]:
al_list

['a', 'e', 'i', 'o', 'u']

In [66]:
num_list.sort()

In [67]:
num_list

[0, 3, 7, 9]

In [68]:
num_list.reverse()

In [69]:
num_list

[9, 7, 3, 0]